{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Accueil{% endblock %}

{% block body %}
{{ parent() }}

<h1 class="text-primary text-center">Bienvenue sur Share !</h1>


{% endblock %}
